{% extends "layout.html" %}
{% block title %}Nuestras Sedes  Audi | Colwagen{% endblock %} 
{% block page %}

  <main class="container-vw mb-30">
    <h1 class="title_h1">
        Talleres y Salas de Ventas Audi
    </h1>
    <div class="mb-60">
      <amp-img class="" 
        alt=""
        src="./src/images/banner_nuestras-sedes.jpg"
        width="1200"
        height="400"
        layout="responsive">
      </amp-img>
    </div>

    <!-- Início do container com imagem e descrição -->
    <div class="sede_container mb-30">
      <div class="sede_content">
        <h3 class="">Bogotá</h3>
        <div class="flex-align-horizontal">
          <amp-img class="icon-place mr-10" alt="icono del mapa" src="./src/images/icon-place.svg" width="20" height="20">
          </amp-img>
          <span>Dirección:</span>
        </div>
        <p>
          Audi Colwagen Calle 127
          Calle 127 No. 54A-50<br>
          Tel: (1) 643 9333
        </p>
        <div>
          <a class="link_sedes" target="_blank"
            href="https://www.google.com/maps/place/Audi.+And+Colwagen/@4.7090613,-74.062441,407m/data=!3m1!1e3!4m5!3m4!1s0x8e3f85325c0e6607:0x1471afaf1974cf6f!8m2!3d4.7092104!4d-74.0634627Audi">
            <button class="btn">
              ver mapa
            </button>
          </a>
        </div>
      </div>
  
      <div class="sede_img">
        <amp-img alt="Imagem sede Volkswagen Bogotá" src="./src/images/vitrina1.jpg" width="450" height="250"
          layout="responsive">
        </amp-img>
      </div>
    </div>
  
    <div class="sede_container mb-30">
      <div class="sede_content">
        <h3>Bogotá</h3>
        <div class="flex-align-horizontal">
          <amp-img class="icon-place mr-10" alt="icono del mapa" src="./src/images/icon-place.svg" width="20"
            height="20">
          </amp-img>
          <span>Dirección:</span>
        </div>
        <p>
          Audi Colwagen Carrera 7
          Carrera 7 No. 127C-69<br>
          Tel: (1) 508 2489
        </p>
        <div>
          <a class="link_sedes" target="_blank"
            href="https://www.google.com/maps/place/Audi+Center+cra+7+Bogot%C3%A1/@4.7069699,-74.0285946,278m/data=!3m1!1e3!4m5!3m4!1s0x8e3f90006101ff53:0x4d9f548d5873f30f!8m2!3d4.706856!4d-74.0288246">
            <button class="btn">
              ver mapa
            </button>
          </a>
        </div>
      </div>
  
      <div class="sede_img">
        <amp-img alt="Imagem sede Volkswagen Bogotá" src="./src/images/vitrina2.jpg" width="450" height="250" layout="responsive">
        </amp-img>
      </div>
    </div>
  
    <div class="sede_container mb-30">
      <div class="sede_content">
        <h3>Chía</h3>
        <div class="flex-align-horizontal">
          <amp-img class="icon-place mr-10" alt="A view of the sea" src="./src/images/icon-place.svg" width="20"
            height="20">
          </amp-img>
          <span>Dirección:</span>
        </div>
        <p>
          Audi Colwagen Fontanar
          C. C. Fontanar, Local 0101<br>
          Plaza Financiera • Tel: (1) 884 4388
        </p>
        <div>
          <a class="link_sedes" target="_blank"
            href="https://www.google.com/maps/place/Centro+Comercial+Fontanar/@4.884108,-74.0372646,1164m/data=!3m1!1e3!4m12!1m6!3m5!1s0x8e40781ed29330e5:0xaf48274164aa1597!2sCentro+Comercial+Fontanar!8m2!3d4.8841027!4d-74.0350759!3m4!1s0x8e40781ed29330e5:0xaf48274164aa1597!8m2!3d4.8841027!4d-74.0350759">
            <button class="btn ">
              ver mapa
            </button>
          </a>
        </div>
      </div>
  
      <div class="sede_img">
        <amp-img alt="Imagem sede Volkswagen Chia" src="./src/images/vitrina3.jpg" width="450" height="250"
          layout="responsive">
        </amp-img>
      </div>
    </div>
  
    <div class="sede_container mb-30">
      <div class="sede_content">
        <h3>Medellín</h3>
        <div class="flex-align-horizontal">
          <amp-img class="icon-place mr-10" alt="A view of the sea" src="./src/images/icon-place.svg" width="20"
            height="20">
          </amp-img>
          <span>Dirección:</span>
        </div>
        <p>
          Audi Colwagen Medellín
          Calle 10 No. 50-267 Mall Rio 10 <br>
          Tel: (4) 310 6703
        </p>
        <div>
          <a class="link_sedes" target="_blank"
            href="https://www.google.com/maps/place/Audi+Colwagen/@6.199624,-75.5848156,732m/data=!3m1!1e3!4m13!1m7!3m6!1s0x8e4429d359cb9cc7:0xcc9c23a286d476fa!2zQ2wuIDEwICM1MCwgTWVkZWxsw61uLCBBbnRpb3F1aWEsIENvbMO0bWJpYQ!3b1!8m2!3d6.2125303!4d-75.5747928!3m4!1s0x8e46827a98c2b28d:0x1762f8204282ca3a!8m2!3d6.19871!4d-75.585437">
            <button class="btn ">
              ver mapa
            </button>
          </a>
        </div>
      </div>
  
      <div class="sede_img">
        <amp-img alt="Imagem sede Volkswagen Chia" src="./src/images/vitrina4.jpg" width="450" height="250"
          layout="responsive">
        </amp-img>
      </div>
    </div>
  
    <div class="sede_container mb-30">
      <div class="sede_content">
        <h3>Cali</h3>
        <div class="flex-align-horizontal">
          <amp-img class="icon-place mr-10" alt="A view of the sea" src="./src/images/icon-place.svg" width="20"
            height="20">
          </amp-img>
          <span>Dirección:</span>
        </div>
        <p>
          Audi Colwagen Cali
          Avenida Cañas Gordas No. 105-95 <br>
          Tel: (2) 608 2295
        </p>
        <div>
          <a class="link_sedes" target="_blank"
            href="https://www.google.com/maps/place/Audi+Center+cali/@3.363061,-76.5316784,261m/data=!3m1!1e3!4m13!1m7!3m6!1s0x8e30a19dd79bf043:0xf9913524e8b17941!2sCl.+18+%23105-95,+Cali,+Valle+del+Cauca,+Col%C3%B4mbia!3b1!8m2!3d3.3632378!4d-76.5316905!3m4!1s0x8e30a19dd7946e75:0x7da526e1a8895c45!8m2!3d3.3630989!4d-76.5315872">
            <button class="btn ">
              ver mapa
            </button>
          </a>
        </div>
      </div>
  
      <div class="sede_img">
        <amp-img alt="Imagem sede Volkswagen Chia" src="./src/images/vitrina5.jpg" width="450" height="250"
          layout="responsive">
        </amp-img>
      </div>
    </div>
    <!-- Fim do container com imagem e descrição -->
  </main>

{% endblock %}